.eCommerce-component-container {
  margin: 30px;
}

.eCommerce-component-dash {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

}

.item-image {
  height: 300px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
}

.eCommerce-item {
  padding: 10px;
  float: left;
  border: 1px;
  border-color: #d3d3d3;
  border-style: solid;
}

.price-buy-container {
  display: flex;
  justify-content: space-between;
}
